<section class="main">
  <div class="subgrid">
    <div class="first">
      <img src="../../assets/images/super-1.png" alt="" />
      <p class="score">Player_1 <br />60</p>
    </div>

    <div class="first">
      <img src="../../assets/images/super-2.png" alt="" />
      <p class="score">
        Player_2 <br />
        59
      </p>
    </div>
  </div>

  <div class="subgrid">
    <p class="mainscore"><br />5-0</p>
  </div>

  <div class="subgrid">
    <div class="first">
      <img src="../../assets/images/super-3.png" alt="" />
      <p class="score">player_3<br />10</p>
    </div>

    <div class="first">
      <img src="../../assets/images/super-4.png" alt="" />
      <p class="score">player_4<br />70</p>
    </div>
  </div>
</section>
